  
<div>
<%= simple_form_for(@pin, html: { class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :image_file_size, class: "alert alert-error" %>
  <%= f.full_error :image_content_type, class: "alert alert-error" %>

  <%= f.input :image, label: "Upload an image" %>
  <%= f.input :image_remote_url, label: "Or enter image URL" %>
  <%= f.input :description, as: :text, input_html: { rows: "3" } %>
  <%= f.input :top_text, as: :text, input_html: { rows: "2" } %>
  <%= f.input :bottom_text, as: :text, input_html: { rows: "2" } %>

  <%= link_to "Edit Image", overlay_path %>

  <div class="form-actions">
    <p> <%= f.button :submit, class: "btn btn-primary" %> </p>
    <p>     <%= link_to 'Back', pins_path %>        </p>

  </div>
<h2>
  Templates for you!
</h2>
<p>
  click an image to use it as your template! Or upload your own image file
</p>


  <%= image_tag "http://i.imgur.com/exAEWZq.png", id: 'image_name1', style: "height:200px;"   %>

  <%= image_tag "http://imgur.com/hbYgbsW.png", id: 'image_name2', style: "height:200px;"  %>

  <%= image_tag "http://power.itp.ac.cn/~jmyang/funny/fun4.jpg", id: 'image_name3', style: "height:200px;"  %>
  
  <%= image_tag "http://s3.amazonaws.com/pins_app/pins/images/000/000/021/original/Time_Trial_Close_Up.jpg?1366868228", id: 'image_name4', style: "height:200px;"  %>
  
  <%= image_tag "http://i.imgflip.com/1bip.jpg", id: 'image_name5', style: "height:200px;"  %>
  
  <%= image_tag "http://i.imgflip.com/1bh8.jpg", id: 'image_name6', style: "height:200px;"  %>


<% end %>

</div>


