



<div>
<%= simple_form_for(@pin, html: { class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :image_file_size, class: "alert alert-error" %>
  <%= f.full_error :image_content_type, class: "alert alert-error" %>

  <%= f.input :image, label: "Upload an image" %>
  <%= f.input :image_remote_url, label: "Or enter image URL" %>
  <%= f.input :description, as: :text, input_html: { rows: "3" } %>
  <%= f.input :top_text, as: :text, input_html: { rows: "2" } %>
  <%= f.input :bottom_text, as: :text, input_html: { rows: "2" } %>

  <%= link_to "Edit Image", overlay_path %>

  <div class="form-actions">
    <p> <%= f.button :submit, "Submit Meme!", class: "btn btn-primary" %> </p>
    <p>     <%= link_to 'Back', pins_path %>        </p>

  </div>
</div> 


<p>
  Click an image to use it as your template! Or upload your own image file
</p>

<div id = "templates">

  <h2 style = "border-bottom: 1px solid #666;"> Recent Templates </h2>
    <p>
      <% recent = Pin.last(10) %>
      <% recent.each do |recent_image| %>
        <%= image_tag Pin.find(recent_image.id).image, style: "height:90px;" %>
      <% end %>
    </p>


  <div id = "gallery">
    <h2> Recommended Templates </h2>
      <ul id = "main">
        <li>
          <p class="desc">Dino Alex Rosen</p>        
          <p><img src="http://i.imgur.com/QsGdA6d.png" alt="Alex Dino" /></p>
        </li>
        <li>
          <p class="desc">Anil and Kid</p>        
          <p><img src="http://i.imgur.com/exAEWZq.png" alt="Anil and Kid" /></p>
        </li>
        <li>
          <p class="desc">20% Innovation - Ken</p>
          <p><img src="http://imgur.com/hbYgbsW.png" alt="Ken Headshot" /></p>
        </li>
        <li>
          <p class="desc">Andy Lean Back</p>
          <p><img src="http://s3.amazonaws.com/pins_app/pins/images/000/000/041/original/1366950704416.jpg?1366950747" alt="Andy Lean Back" /></p>
        </li>
        <li>
          <p class="desc">Wise Ram</p>
          <p><img src="http://s3.amazonaws.com/pins_app/pins/images/000/000/039/original/1366948686442.jpg?1366948780" alt="Ram and Wine" /></p>

        </li>
        <li>
          <p class="desc">Fueling Data Science</p>
          <p><img src="http://s3.amazonaws.com/pins_app/pins/images/000/000/038/original/1366944924708.jpg?1366945000" alt="Jack Drinking" /></p>
        </li>
        <li>
          <p class="desc">Hipster Alex</p>
          <p><img src="http://i.imgur.com/U91pTSQ.jpg" alt="Hipster Alex" /></p>
        </li>
        <li>
          <p class="desc">Grumpy Cat</p>        
          <p><img src="http://i.imgflip.com/8p0a.jpg" alt="Grumpy Cat" /></p>
        </li>
        <li>
          <p class="desc">One Does Not Simply</p>
          <p><img src="http://i.imgflip.com/1bij.jpg" alt="One Does Not Simply" /></p>
        </li>
        <li>
          <p class="desc">Y U No</p>
          <p><img src="http://i.imgflip.com/1bh3.jpg" alt="Y U No" /></p>
        </li>
        <li>
          <p class="desc">Futurama Fry</p>
          <p><img src="http://i.imgflip.com/1bgw.jpg" alt="Futurama Fry" /></p>
        </li>
        <li>
          <p class="desc">Bad Luck Brian</p>
          <p><img src="http://i.imgflip.com/1bip.jpg" alt="Bad Luck Brian" /></p>
        </li>
        <li>
          <p class="desc">Ancient Aliensd</p>
          <p><img src="http://i.imgflip.com/26am.jpg" alt="Ancient Aliens" /></p>
        </li>
        <li>
          <p class="desc">Brace Yourselves X is Coming</p>
          <p><img src="http://i.imgflip.com/1bhm.jpg" alt="Brace yourself" /></p>
        </li>
        <li>
          <p class="desc">Third World Skeptical Kid</p>
          <p><img src="http://i.imgflip.com/265k.jpg" alt="Third World Skeptical Kid" /></p>
        </li>
        <li>
          <p class="desc">Too Damn High</p>
          <p><img src="http://i.imgflip.com/1bik.jpg" alt="Too Damn High" /></p>
        </li>
        <li>
          <p class="desc">Third World Success Kid</p>
          <p><img src="http://i.imgflip.com/265j.jpg" alt="Third World Success Kid" /></p>
        </li>
        <li>
          <p class="desc">Scumbag Steve</p>
          <p><img src="http://i.imgflip.com/1bgy.jpg" alt="Scumbag Steve" /></p>
        </li>
        <li>
          <p class="desc">Skeptical Baby</p>
          <p><img src="http://wac.450f.edgecastcdn.net/80450F/thefw.com/files/2013/03/Screen-Shot-2013-03-06-at-12.02.23-PM.png" alt="Skeptical Baby" /></p>
        </li>
        <li>
          <p class="desc">Confession Bear</p>
          <p><img src="http://i.imgflip.com/25wb.jpg" /></p>
        </li>
        <li>
          <p class="desc">Say That Again I Dare You</p>
          <p><img src="http://i.imgflip.com/2nuc.jpg" /></p>
        </li>

  </div>

</div>

<% end %>


 <script type="text/javascript">

    var div = document.getElementById("templates");
    ImageSelector.addImages(div);

</script>


