<div class = "box">

<div id = "container">
	<%= link_to (image_tag pin.image), pin %>
	<div id = "top_thumbnail">
		<%= pin.top_text %>
	</div>
	<div id = "bottom_thumbnail">
		<%= pin.bottom_text %>
	</div>
</div>
	<p>

		<%= pin.description %>
	</p>
	<p>
        <strong>
            Posted by <%= link_to pin.user.name, pin.user %>
        </strong>
		<em>
			at <%= pin.created_at.to_date %>
		</em>

		<p>
		<strong> Score: </strong> <%= pin.likes.size-pin.dislikes.size %>
 		</p>
	<p>
	<% if current_user == pin.user %>
		<%= link_to 'Edit', edit_pin_path(pin) %>
		<%= link_to 'Delete', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
	</p>
	<% end %>
</div>