<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<meta content='YOUR_FACEBOOK_APPLICATION_ID'   property='565814096786797'/>

<div class="row">
    <div class="span6 offset3">
        <div class="well">

            <div id = "container">
            <%= image_tag @pin.image %>

                <div id = "top_show">
                <%= @pin.top_text %>
                </div>
                <div id = "bottom_show">
                <%= @pin.bottom_text %>
                </div>

            </div>
            <p>
              <%= @pin.description %>
            </p>
            <p>
              <%= @pin.user.name %>
            </p>
            <% if current_user == @pin.user %>
                <%= link_to 'Edit', edit_pin_path(@pin) %> |
            <% end %>
            <%= link_to 'Back', pins_path %>
        </div>
    </div>
</div>
<div class="span6 offset3">
    <div class="fb-comments", data-href= <%= "\""+pin_path+"\"" %> data-width="470" data-num-posts="10"></div>
</div>

